# Android build files
/build
/app/build
/gradle
.gradle/
local.properties

# IDE settings
.idea/
*.iml

# Logs
*.log

# OS-specific junk
.DS_Store
Thumbs.db

# Gradle caches
.gradle/
.caches/

# Misc
*.apk
*.keystore
